button{
    margin-top: 10px;
}

#search-cities{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#search-container{
    margin-left: 10px;
}

.low-index{
    background-color: lightgreen;
}

.medium-index{
    background-color: yellow;
}

.high-index{
    background-color: orange;
}

.very-high-index{
    background-color: red;
}

.extreme-index{
    background-color: purple;
}

#daily-forecast{
    margin: 10px;
}