header{
    text-align: center;
    font-size: 50px;
    background-image: linear-gradient(to right, darkblue, purple);
    margin-bottom: 10px;
    color: white;
}

button{
    margin-top: 10px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 2px;
}

#search-cities{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#search-container{
    margin-left: 10px;
}

#search{
    background-color: lightblue;
}

.low-index{
    background-color: lightgreen;
}

.medium-index{
    background-color: yellow;
}

.high-index{
    background-color: orange;
}

.very-high-index{
    background-color: red;
}

.extreme-index{
    background-color: purple;
}

#daily-forecast{
    margin: 10px;
    background-color: #33475a;
    color: white;
}